<style>
    @import url('/src/styles/love.css');
</style>

<body>
    <div class="wrapper">
    
        <div class="intro">
            <h1>The story of</h1>
            <p>Mr.Jiang & Mrs.Ma</p>
        </div>

        <div class="content">
            <section class="section hero-section"></section>
            <section class="section carousel"></section>
        </div>

        <div class="image-container">
            <img 
                src="https://i.imgs.ovh/2025/08/15/K0yrX.png" 
                alt="Mr.Jiang & Mrs.Ma"
            > 
        </div>

    </div>

    <script src="/src/scripts/love.js"></script>

 </body>